#footerContainer {
    justify-content: center;
    align-items: center;
}

#footerContainer > #actionsContainer {
    width: 100%;
    justify-content: space-between;
}

.footer-action-button-wrapper {}

.footer-action-button-wrapper > button {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: var(--husky);
}

#create-folderAction.hidden {
    opacity: 0;
    user-select: none;
}