:root {
    /* SIZING */
    --base-size: 14px;
    --xxx-large: 11.089rem;
    --xx-large: 6.854rem;
    --x-large: 4.236rem;
    --large: 2.618rem;
    --husky: 1.618rem;
    --normal: 1rem;
    --small: 0.618rem;
    --x-small: 0.382rem;
    --xx-small: 0.236rem;
    --page-margin: 0 1.15rem;
    --small-height: 4.5rem;
    --small-border-radius: 5px;
    /* COLORS */
    --white: rgb(255, 250, 255);
    --black: rgb(26, 23, 23);
    --grey-bg: rgba(59, 58, 58, 0.932);
    --grey-text: rgb(224, 224, 224);
    --blue: rgb(34, 116, 165);
    --yellow-1: rgb(246, 174, 45);
    --yellow-2: rgb(246, 174, 40);
    --purple: rgb(133, 71, 152);
    --error-delete: rgb(223, 41, 53);
}

.main-text,
.delete-color-secondary {
    color: var(--white);
}
.secondary-text,
.inactive {
    color: var(--grey-text);
}
.accent-text,
.pinned {
    color: var(--yellow-1);
}
.ok-color {
    color: var(--blue);
}
.locked {
    color: var(--purple);
}
.error,
.delete-color-primary {
    color: var(--error-delete);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    font-size: 14px;
    height: 100%;
}

.show-edit-options {
    background-color: red;
}

body {
    background-color: rgb(10, 9, 9);
    color: var(--white);
    font-family: sans-serif;
    overflow: hidden;
    margin: 0;
}

#appContainer {
    height: 100vh;
    position: relative;
}

p {
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
}

.col {
    flex-direction: column;
}

header,
main,
footer {
    margin: var(--page-margin);
    overflow: hidden;
}

header,
footer {
    left: 0;
    right: 0;
    min-height: var(--small-height);
    z-index: 2;
}

/* @@TEST */
/* --- Testing styles of the header text elements */
h4, h6 {
    margin: 2px 0;
}

.main-title {
    font-size: 32px;
    font-weight: 800;
}
.back-button {
    font-size: 16px;
    color: var(--yellow-1);
}

.main-title,
#headerTitle.back-button {
    transition: all 150ms ease-out;
}

#mainContainer {
    height: 100%;
}
#tableContainer {
    width: 100%;
    height: 100%;
    border-radius: var(--small-border-radius);
    display: flex;
    flex: 1;
    position: relative;
    background-color: var(--grey-bg);
    margin-top: var(--large);
}

#tableContainer > * {
    position: absolute;
    flex: 1 0 auto;
    width: 100%;
    overflow-y: auto;
}

#foldersTable {
    left: 0;
    transition: left 500ms ease-in-out;
}

#tableContainer > #foldersTable.hidden {
    left: -100%;
}

#itemsTable {
    right: 0;
    transition: right 500ms ease-in-out;
}

#tableContainer > #itemsTable.hidden {
    right: -100%;
}

.table-item {
    flex: 1 0 auto;
    padding: 0.3rem 0;
    justify-content: space-between;
    align-items: center;
}

.edit-icon-container {
    position: relative;
    border: 1px solid #000;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.edit-icon-container.hidden {
    display: none;
}
.edit-icon-container > * {
}

.search-bar-container {
    background-color: var(--grey-bg);
    color: var(--grey-text);
    border-radius: var(--small-border-radius);
    justify-content: center;
    align-items: center;
}
.search-bar-container > .small-item {
    flex-grow: 1;
    text-align: center;
}
.search-bar-container > .fill-item {
    flex-grow: 3;
}
#searchInput {
    caret-color: var(--yellow-2);
    background-color: transparent;
    color: var(--grey-text);
    width: 100%;
    height: 100%;
    border: none;
    margin: 0;
    padding: 0.4rem 0 0.4rem 0.4rem;
}
#searchInput:focus {
    outline: none;
}

.modal-container {
    position: absolute;
    top: 0;
    left: 0;
    transition: top 500ms ease-in;
}
.modal-container.hidden {
    position: absolute;
    top: 100%;
}