:root {
    /* SIZING */
    --base-size: 14px;
    --xxx-large: 11.089rem;
    --xx-large: 6.854rem;
    --x-large: 4.236rem;
    --large: 2.618rem;
    --husky: 1.618rem;
    --slightly-bigger: 1.15rem;
    --normal: 1rem;
    --slightly-smaller: 0.85rem;
    --small: 0.618rem;
    --x-small: 0.382rem;
    --xx-small: 0.236rem;
    --page-margin: 0 1.15rem;
    --medium-height: 5rem;
    --small-height: 4.5rem;
    --small-border-radius: 5px;
    /* COLORS */
    /* --black: rgb(10, 9, 9); */
    --white: rgb(255, 250, 255);
    --black: rgb(26, 23, 23);
    --grey-bg: rgba(59, 58, 58, 0.932);
    --darker-grey-bg: rgba(31, 30, 31, 1);
    --medium-grey: rgb(62, 60, 62);
    --grey-line: rgb(105, 105, 105);
    --lighter-grey: rgb(104, 100, 103);
    --grey-text: rgb(224, 224, 224);
    --blue: rgb(0, 122, 255);
    --yellow-1: rgb(246, 174, 45);
    --yellow-2: rgb(246, 174, 40);
    --purple: rgb(133, 71, 152);
    --red: rgb(255, 59, 48);
    --green: rgb(25, 199, 89);
}

.main-text,
.delete-color-secondary {
    color: var(--white);
}
.secondary-text,
.inactive {
    color: var(--grey-text);
}
.accent-text,
.pinned {
    color: var(--yellow-1);
}
.ok-color,
.blue {
    color: var(--blue);
}
.locked {
    color: var(--purple);
}
.red,
.error,
.delete-color-primary {
    color: var(--red);
}
.green {
    color: var(--green)
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    font-size: 14px;
    height: 100%;
}

.show-edit-options {
    background-color: red;
}

body {
    background-color: var(--black);
    color: var(--white);
    font-family: sans-serif;
    overflow: hidden;
    margin: 0;
}

#appContainer {
    height: 100vh;
    position: relative;
}

p {
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
}

.col {
    flex-direction: column;
}

.grid {
    display: grid;
}

.yellow {
    color: var(--yellow-1);
}

header,
main {
    position: relative;
}

header,
main,
footer {
    margin: var(--page-margin);
    overflow: hidden;
}

#editCheckBox {
    position: absolute;
    right: 0;
    top: 40%;
    transform: translate(-0, -60%);
}

header,
footer {
    left: 0;
    right: 0;
    z-index: 2;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    min-height: var(--medium-height);
}

footer {
    min-height: var(--small-height);
}

/* @@TEST */
/* --- Testing styles of the header text elements */
h4, h6 {
    margin: 2px 0;
}

.main-title {
    font-size: 32px;
    font-weight: 600;
}
.back-button {
    font-size: 16px;
    color: var(--yellow-1);
}

.main-title,
#headerTitle.back-button {
    transition: all 150ms ease-out;
}

#mainContainer {
    height: 100%;
}
#tableContainer {
    width: 100%;
    height: 100%;
    border-radius: var(--small-border-radius);
    display: flex;
    flex: 1;
    position: relative;
    background-color: var(--grey-bg);
}

#tableContainer > * {
    position: absolute;
    flex: 1 0 auto;
    width: 100%;
    overflow-y: auto;
}

#foldersTable {
    left: 0;
    transition: left 500ms ease-in-out;
}

#tableContainer > #foldersTable.hidden {
    left: -100%;
}

#itemsTable {
    right: 0;
    transition: right 500ms ease-in-out;
}

#itemsTable.hidden,
#noteFormTable.hidden {
    right: -100%;
}

.table-item {
    flex: 1 0 auto;
    padding: 0.3rem 10px;
    justify-content: space-between;
    align-items: center;
    font-size: var(--slightly-bigger);
    min-height: 40px;
    gap: 10px;
    position: relative;
    overflow: hidden;
}

.table-item > .small-flex {
    width: 50px;
    flex: 1 0 auto;
    flex-grow: 1;
    text-align: center;
}

.table-item > .fill-item {
    flex: 1 1 100%;
    flex-grow: 2;
    text-align: left;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 5;
}

.table-item :nth-child(1) { order: 1; font-size: 1.5rem; flex: 1; }
.table-item :nth-child(2) { order: 3; color: var(--grey-text); justify-content: center; align-items: center; gap: 10px; flex: 1;}
.table-item :nth-child(2) > p { font-size: var(--normal); }
.table-item :nth-child(3) { order: 2; font-size: var(--slightly-bigger) !important; }

.countBox {
    opacity: 1;
    transition: opacity 350ms ease-in-out;
}

.countBox.hidden {
    opacity: 0;
}

.countBox .fa-chevron-right {
    font-size: var(--small) !important;
}

.edit-icon-container {
    position: absolute;
    width: 20%;
    height: 100%;
    right: 0;
    /* border: 1px solid #000; */
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: right 350ms ease-in-out;
    z-index: 5;
}
.edit-icon-container.hidden {
    right: -100%;
}
.edit-icon-container > * {
}

.edit-icon-wrapper {
    font-size: var(--x-small);
    line-height: 0;
}

.search-bar-container {
    background-color: var(--grey-bg);
    color: var(--grey-text);
    border-radius: var(--small-border-radius);
    justify-content: center;
    align-items: center;
    margin-bottom: var(--large);
}
.search-bar-container > .small-item {
    flex-grow: 1;
    text-align: center;
}
.search-bar-container > .fill-item {
    flex-grow: 3;
}
#searchInput {
    caret-color: var(--yellow-2);
    font-size: var(--slightly-bigger);
    background-color: transparent;
    color: var(--grey-text);
    width: 100%;
    height: 100%;
    border: none;
    margin: 0;
    padding: 0.4rem 0 0.4rem 0.4rem;
}
#searchInput:focus {
    outline: none;
}