/* GLOBAL */
input[type='text'],
textarea {
    background-color: var(--darker-grey-bg);
    border-radius: var(--small-border-radius);
    border: 1px solid var(--lighter-grey);
    margin: 0;
    padding: var(--x-small) var(--small);
    caret-color: var(--yellow-2);
    color: var(--grey-text);
}
input[type='text']:focus,
textarea:focus {
    outline: none;
}

.form-fieldset {
    border: none;
    text-align: center;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: var(--small) 0;
    border-bottom: 1px solid var(--lighter-grey);
}

.form-title {
    font-size: var(--normal);
}

.form-sub-title {
    font-size: var(--slightly-smaller)
}

.form-button {
    flex: 1 1 0;
    background-color: transparent;
    border: none;
    outline: none;
    padding: var(--small) 0;
}

.form-cancel-button {
    border-right: 1px solid var(--lighter-grey) !important;
    color: var(--yellow-2);
    font-weight: bold;
}

.form-submit-button {
    font-weight: 800;
    color: var(--yellow-2);
    font-weight: bold;
}
.form-submit-button:disabled {
    color: var(--grey-text);
}

/* --- styles for toggle switch */
.switch-label {
    display: inline-block;
    --width: 40px;
    --height: calc(var(--width) / 2);
    --border-radius: calc(var(--height) / 2);
    cursor: pointer;
}

.toggle-input-visibility {
    display: none;
}

.slider {
    position: relative;
    width: var(--width);
    height: var(--height);
    border-radius: var(--border-radius);
    background-color: var(--lighter-grey);
    -webkit-transition: background-color 200ms;
    transition: background-color 200ms;
    user-select: none;
}

.toggle-input-visibility:checked ~ .slider {
    background-color: var(--green);
}

.slider::after {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    height: calc(var(--height) - 2px);
    width: calc(var(--height) - 2px);
    background-color: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: var(--border-radius);
    -webkit-transition: transform 200ms;
    transition: transform 200ms;
}

.toggle-input-visibility:checked ~ .slider::after {
    transform: translateX(var(--height));
}

.question-hr {
    width: 95%;
    position: relative;
    margin-left: auto;
    height: 0;
    border-top: 0.15rem solid var(--grey-line);
    border-right: none;
    border-bottom: none;
    border-left: none;
    background-color: transparent;
    color: transparent;
}

/* ADD FOLDER FORM */
#addFolderFormParent {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#addFolderForm {
    position: absolute;
    width: 65vw;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--medium-grey);
    border-radius: var(--small-border-radius);
}

/* ADD TODO FORM */
#addTodoParent {
    width: 100%;
    height: 100%;
    background-color: var(--darker-grey-bg);
}
#addTodoForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#addTodoForm .form-fieldset {
    width: 90%;
    margin: 0 auto;
    background-color: var(--medium-grey);
    border-radius: var(--small-border-radius);
}
#addTodoForm .form-fieldset .form-control {
    width: 100%;
}
/* Fieldset 1: Title and Note */
#addTodofieldSet0 {
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: center;
    min-height: 100%;
}
#addTodofieldSet0 .form-control {
    display: flex;
    min-height: 30px;
    flex: 1 1 25px;
}
#addTodofieldSet0 .form-control input[type='text'],
#addTodofieldSet0 .form-control textarea {
    padding: var(--xx-small) var(--small);
    width: 100%;
    border: none;
    background-color: transparent;
}
#addTodofieldSet0 .form-control textarea {
    font-family: sans-serif;
    resize: none;
}

/* Fieldsets 2 & 3 Padding Styles */
#addTodofieldSet1 .form-control,
#addTodofieldSet2 .form-control {
    flex-wrap: wrap;
    padding: 0 var(--small);
}

/* Fieldset 2: Date and Time */
#addTodofieldSet1 .form-control {
    gap: 10px;
}
.input-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--normal);
    height: var(--normal);
    padding: var(--slightly-bigger);
    text-align: center;
    line-height: 100%;
    border-radius: var(--small-border-radius);
}

.input-icon-container > svg {
    line-height: 0;
    width: var(--slightly-bigger);
    height: var(--slightly-bigger);
}

.question-title-container {
    flex: 1 1 auto;
    text-align: left;
}
.question-title {
    font-size: var(--slightly-bigger);
}

/* DATE AND TIME PICKER STYLES */
.hidden-input {
    display: none;
}
.date-picker-container,
.time-picker-container {
    position: relative;
    width: 100%;
    max-width: 320px;
    height: 100%;
    cursor: pointer;
    user-select: none;
    flex: 0 0 100%;
}

.date-picker-container .calendar-container {
    top: 100%;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
}

#topRow {
    width: 100%;
    justify-content: space-between;
    padding: 0 var(--small);
    font-size: var(--slightly-bigger);
}

/* .month-selector {
    z-index: 6;
} */

.month-title-container,
.month-selection-arrows-container {
    flex: 1 0 auto;
}

.month-title-container {
    text-align: left;
}

.month-selection-arrows-container {
    justify-content: flex-end;
    gap: 20px;
    color: var(--blue);
}

.date-picker-container #bottomRow {
    grid-template-columns: repeat(7, 40px);
    column-width: 40px;
    grid-template-rows: 16px repeat(auto-fill, 40px);
    gap: 5px;
    text-align: center;
}

.calendar-day {
    color: var(--grey-line);
    font-weight: bold;
}

.calendar-day-container small {
    font-size: var(--slightly-smaller);
}

.calendar-day-option {
    font-size: var(--normal);
    height: 100%;
    width: 100%;
    text-align: center;
    position: relative;
    aspect-ratio: 1;
    break-inside: avoid-column;
    page-break-inside: avoid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar-day-option.active {
    background-color: var(--blue);
    border-radius: 50%;
}
.calendar-day-option.active.today {
    color: #FFFFFF;
}
.calendar-day-option.today {
    color: var(--blue);
}

.date-answer {
    display: none;
}

.date-answer.active {
    display: inline-block;
    color: var(--blue);
    font-size: var(--slightly-smaller);
}

/* --- layout days by week */
#bottomRow .row-1 {
    grid-row: 2 / 3;
}
#bottomRow .row-2 {
    grid-row: 3 / 4;
}
#bottomRow .row-3 {
    grid-row: 4 / 5;
}
#bottomRow .row-4 {
    grid-row: 5 / 6;
}
#bottomRow .row-5 {
    grid-row: 6 / 7;
}
#bottomRow .row-6 {
    grid-row: 7 / 8;
}
/* --- layout days by day */
#bottomRow .col-0 {
    grid-column: 1 / 2;
}
#bottomRow .col-1 {
    grid-column: 2 / 3;
}
#bottomRow .col-2 {
    grid-column: 3 / 4;
}
#bottomRow .col-3 {
    grid-column: 4 / 5;
}
#bottomRow .col-4 {
    grid-column: 5 / 6;
}
#bottomRow .col-5 {
    grid-column: 6 / 7;
}
#bottomRow .col-6 {
    grid-column: 7 / 8;
}

.form-control.flex {
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.collapsible-input.hidden {
    display: none;
}

#dateIconContainer {
    background-color: var(--red);
}
#timeIconContainer {
    background-color: var(--blue);
}

/* Time Spinner Styles */
.spinner-container {
    width: 100%;
    height: 100%;
    position: absolute;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    font-size: 16px;
}

.spinner {
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: calc(24px * 7);
    height: calc(24px * 7);
    position: relative;
    white-space: nowrap;
    top: 0;
    left: 0;
}

.spinner-element {
    padding: var(--xx-small);
    position: relative;
    height: 100%;
}

.position-9 {
    transform: rotateX(60deg);
    grid-row: 1 / 2;
}
.position-10 {
    transform: rotateX(40deg);
    grid-row: 2 / 3;
}
.position-11 {
    transform: rotateX(20deg);
    grid-row: 3 / 4;
}
.position-0 {
    transform: rotateX(0deg);
    grid-row: 4 / 5;
}
.position-1 {
    transform: rotateX(-20deg);
    grid-row: 5 / 6;
}
.position-2 {
    transform: rotateX(-40deg);
    grid-row: 6 / 7;
}
.position-3 {
    transform: rotateX(-60deg);
    grid-row: 7 / 8;
}
.position-4 {
    grid-row: 8 / 9;
}
.position-5 {
    grid-row: 9 / 10;
}
.position-6 {
    grid-row: 10 / 11;
}
.position-7 {
    grid-row: 11 / 12;
}
.position-8 {
    grid-row: 12 / 13;
}

.position-4,
.position-5,
.position-6,
.position-7,
.position-8 {
    display: none;
}